{% if shop.name == 'CuraLife Global' %}
  {% assign isGlobal = true %}
{% endif %}

{% if buyType == "buy_now" %}
  <div class="submit-wrap flex flex-col w-full">
    <input class="submit-variant-id" type="hidden" name="id" value="{{ variant | default: product.selected_or_first_available_variant.id }}">
    <button class="main-btn w-full p-0 text-black bg-[--orange] min-h-[50px]" id="buy-button-{{ SID }}">
      <span class="button-text flex justify-center md:text-[5vw]">{{ buttonText | default: "Shop Now" }}</span>

      <div class="loading-overlay__spinner hidden m-auto">
        <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </button>
  </div>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var buyButton = document.getElementById('buy-button-{{ SID }}');

    if (buyButton) {
      buyButton.addEventListener('click', function(event) {
        // Button states for loading
        var submitButton = this;
        var buttonText = submitButton.querySelector('.button-text');
        var loadingSpinner = submitButton.querySelector('.loading-overlay__spinner');

        // Display loading spinner
        if (buttonText && loadingSpinner) {
          console.log('Showing loading spinner and hiding button text.');
          buttonText.style.display = 'none';
          loadingSpinner.classList.remove('hidden');
        }

        // Get the variant ID from the hidden input
        var variantIdInput = document.querySelector('.submit-variant-id');
        if (variantIdInput) {
          console.log('Variant ID input found.');
        } else {
          console.error('Variant ID input not found.');
        }
        var variantId = variantIdInput ? variantIdInput.value : '{{ variant | default: product.selected_or_first_available_variant.id }}';
        console.log('Variant ID:', variantId);
        var quantity = 1;

        var data = {
          "id": variantId,
          "quantity": quantity
        };

        // Adding product to the cart
        console.log('Sending request to add product to the cart:', data);

        fetch('/cart/add.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        })
        .then(function(response) {
          console.log('Received response from add to cart:', response);
          return response.json();
        })
        .then(function(data) {
          console.log('Product successfully added to cart:', data);
          console.log('Redirecting to checkout.');
          window.location.href = '/checkout';
        })
        .catch(function(error) {
          console.error('Error adding product to cart:', error);
          if (buttonText && loadingSpinner) {
            console.log('An error occurred. Resetting button to normal state.');
            buttonText.style.display = '';
            loadingSpinner.classList.add('hidden');
          }
        });
      });
    } else {
      console.error('Buy button not found. Cannot attach event listener.');
    }
  });
</script>

{% else %}
  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

  <div>
    <product-form class="product-form" data-hide-errors="false" data-section-id="{{ section.id }}">
  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <input type="hidden" name="selling_plan" value="">

    <div class="product-form__buttons main-submit-wrapper flex">
      {% if isBuyQuantity %}
        <div class="qty flex">
          <input type="text" name="quantity" maxlength="12" value="1" title="" class="input-text" />
          <div class="qty_inc_dec">
            <i class="increment">+</i>
            <i class="decrement">-</i>
          </div>
        </div>
      {% endif %}

      <button type="submit" name="add" class="product-form__submit button button--full-width button--secondary">
        <span>{{ 'products.product.add_to_cart' | t }}</span>
        <div class="loading-overlay__spinner hidden">
          <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </button>
    </div>
  {%- endform -%}
</product-form>
  </div>
{% endif %}

{% if isBuyWithPrime and isGlobal != true %}
  <div class="bwp-button">
    {% render 'buy-with-prime-button' %}
  </div>
{% endif %}

{% if customer %}
  {% render 'yotpo-product-points-widget' %}
{% endif %}

{% if isBuyQuantity %}
  <style>
    .qty {
      float: left;
      width: 100px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .qty_inc_dec .increment,
    .qty_inc_dec .decrement {
      cursor: pointer;
      font-size: 1.2em;
      height: 50%;
      background-color: #fff;
      border: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .qty_inc_dec .increment {
      border-bottom: 0;
      line-height: 25px;
    }

    .qty_inc_dec {
      width: 30px;
      height: 100%;
      display: inline-block;
    }

    .qty input[type=text] {
      float: left;
      font-family: "Open Sans", sans-serif;
      outline: 0;
      font-size: 1.2em;
      text-align: center;
      width: 50px;
      height: 100%;
      color: #2a2a2a;
      line-height: 40px;
      border: 1px solid #ccc;
      border-right: 0;
      border-radius: 10px 0 0 10px;
    }

    /* Quantity Selector Transition */
    .qty {
      transition: width 0.3s ease;
      width: -webkit-fill-available;
    }

    .qty_inc_dec {
      transition: opacity 0.3s ease;
    }
  </style>

  <script>
    function incrementQty() {
      var quantityInput = document.querySelector('input[name="quantity"]');
      var value = parseInt(quantityInput.value);
      var cardQty = document.querySelector(".cart-qty");
      value = isNaN(value) ? 1 : value;
      value++;
      quantityInput.value = value;

      if (cardQty) {
        cardQty.innerHTML = value;
        cardQty.classList.add("rotate-x");
      }
    }

    function decrementQty() {
      var quantityInput = document.querySelector('input[name="quantity"]');
      var value = parseInt(quantityInput.value);
      var cardQty = document.querySelector(".cart-qty");
      value = isNaN(value) ? 1 : value;
      value = value > 1 ? value - 1 : 1;
      quantityInput.value = value;

      if (cardQty) {
        cardQty.innerHTML = value;
        cardQty.classList.add("rotate-x");
      }
    }

    document.addEventListener('DOMContentLoaded', function() {
      var incrementButton = document.querySelector('.increment');
      var decrementButton = document.querySelector('.decrement');

      if (incrementButton) {
        incrementButton.addEventListener('click', function(event) {
          event.stopPropagation();
          incrementQty();
        });
      }

      if (decrementButton) {
        decrementButton.addEventListener('click', function(event) {
          event.stopPropagation();
          decrementQty();
        });
      }
    });
  </script>
{% endif %}