{% if product.images.size > 1 %}
  <div class="product-thumbnails">
    <div class="product-slider">
      <div class="sliders-group">
        <div class="main-slider">
          <div id="product-main-slider-sc" class="swiper">
            <div class="swiper-wrapper">
              {% if isCuralinContent %}
                {% for i in (1..5) %}
                  <div class="swiper-slide">
                    {% unless forloop.index == 1 %}<img class="main-slider-vector-bg" src="{{ 'product-aio-vector-product-slider.png' | asset_url }}" width="534" height="342" alt="">{% endunless %}

                    <div class="product-img">
                      <div class="img-wrap">
                        <img src="{{ "product-aio-product-thumbnail-" | append: i | append: ".png" | asset_url }}" width="588" height="453" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                {% endfor %}

                <div class="swiper-slide">
                  <div class="product-video">
                    <iframe id="product-video-iframe" src="https://player.vimeo.com/video/365492409?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
                  </div>
                </div>
              {% endif %}

              {% for product in products %}
                {% if product.variants.size > 1 %}
                  {% for var in product.variants %}
                    <div class="swiper-slide">
                      {% if shop.name == "CuraLife Global" or request.path contains 'curalin-pack-t' %}
                        <img class="main-slider-vector-bg" src="{{ 'product-aio-vector-product-slider.png' | asset_url }}" width="534" height="342" alt="">
                      {% endif %}

                      <div class="product-img">
                        <div class="img-wrap">
                          <img src="{{ var.featured_image | image_url }}" alt="{{ var.featured_image.alt | escape }}" loading="lazy">
                        </div>
                      </div>
                      {% if isSaveTitle %}
                        {% assign save_price = var.compare_at_price | minus: var.price %}

                        <div class="save-title"><p>SAVE {{ save_price | money_without_trailing_zeros }}</p></div>
                      {% endif %}

                      {% comment %} If Curalin is in the product, render the sale badge {% endcomment %}
                      {% if product.metafields.custom.badge_image %}
                        <img src="{{ product.metafields.custom.badge_image | image_url }}" width="200" height="200" alt="Curalin" class="sale-badge" loading="lazy">

                        <style>
                          .sale-badge {
                            position: absolute;
                            top: 100px;
                            right: 130px;
                            width: 100px;
                            z-index: 1;
                          }

                          @media screen and (max-width: 768px) {
                            .sale-badge {
                              top: 10vw;
                              right: 0;
                              width: 25vw;
                            }
                          }
                        </style>
                      {% endif %}
                    </div>
                  {% endfor %}
                {% else %}
                  {% for img in product.images %}
                    <div class="swiper-slide">
                      {% if shop.name == "CuraLife Global" or request.path contains 'curalin-pack-t' %}
                        <img class="main-slider-vector-bg" src="{{ 'product-aio-vector-product-slider.png' | asset_url }}" width="534" height="342" alt="">
                      {% endif %}

                      <div class="product-img">
                        <div class="img-wrap">
                          <img src="{{ img.src | image_url }}" alt="{{ img.alt | escape }}" loading="lazy">
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
          </div>

          <div id="product-main-slider-nav-prev" class="swiper-button-prev nav"></div>
          <div id="product-main-slider-nav-next" class="swiper-button-next nav"></div>
        </div>

        {% unless product.metafields.custom.is_hide_thumbs %}
          <div class="thumbs-slider">
            <div id="product-thumbs-slider-sc" class="swiper">
              <div class="swiper-wrapper">
                {% if isCuralinContent %}
                  {% for i in (1..6) %}
                    <div class="swiper-slide">
                      <div class="thumbs-img">
                        <img src="{{ "product-aio-product-thumbnail-" | append: i | append: ".png" | asset_url }}" width="588" height="453" alt="" loading="lazy">
                      </div>
                    </div>
                  {% endfor %}
                  <div class="swiper-slide">
                    <div class="thumbs-img video-thumbnail">
                      <img src="{{ "product-aio-product-video-thumbnail.png" | asset_url }}" width="720" height="680" alt="" loading="lazy">
                    </div>
                  </div>
                {% endif %}

                {% for product in products %}
                  {% if product.images.size > 1 %}
                    {% for img in product.images %}
                      <div class="swiper-slide">
                        <div class="thumbs-img">
                          <img src="{{ img.src | image_url }}" alt="{{ img.alt | escape }}" loading="lazy">
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div id="product-thumbs-slider-nav-prev" class="swiper-button-prev"></div>
            <div id="product-thumbs-slider-nav-next" class="swiper-button-next"></div>
          </div>
        {% endunless %}
      </div>
    </div>
  </div>

  <style>
    /* CSS styling for the product thumbnails and slider goes here */
  </style>

  <script>
    /* JavaScript code for the Swiper slider initialization and event handling goes here */
  </script>
{% else %}
  {% if isImageFromSection %}
    <img src="{{ imageSection | image_url }}" width="583" height="557" alt="image-section" class="product-image" loading="lazy">
  {% else %}
    <img src="{{ product.images[0].src | image_url }}" alt="{{ product.images[0].alt }}" class="product-image" loading="lazy">
  {% endif %}

  {% assign variantQuantity = product.variants | size %}
  {% if variantQuantity > 1 %}
    <p class="multiplier"></p>
  {% endif %}

  {% comment %} If Curalin is in the product, render the sale badge {% endcomment %}
  {% if product.metafields.custom.badge_image %}
    <img src="{{ product.metafields.custom.badge_image | image_url }}" width="200" height="200" alt="Curalin" class="sale-badge" loading="lazy">

    <style>
      /* Additional styling for the sale badge goes here */
    </style

      .cta-section .product-image {
        max-height: 500px;
      }

      .sale-badge {
        position: absolute;
        top: 100px;
        right: 130px;
        width: 100px;
        z-index: 1;
      }

      @media screen and (max-width: 768px) {
        .sale-badge {
          top: 10vw;
          right: 0;
          width: 25vw;
        }
      }
    </style>
  {% endif %}
{% endif %}
