

<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
<head>
  <title>{{ page_title }}</title>

  {{ content_for_header }}
  {{content_for_layout}}
  {{ checkout_scripts }}

</body>
</html>