<div
	class="blocks-section-block blocks-section-block-{{ block.id }}"
	{% if block.settings.width %}
		style="flex-basis: {{ block.settings.width }}%; max-width: {{ block.settings.width }}%; width: {{ block.settings.width }}%;"
	{% endif %}>
	{% render block %}
</div>

<style>
	@media screen and (max-width: 768px) {
	  {% for block in section.blocks %}
	    {% if block.settings.width_mobile %}
	      #blocks-section-{{ section.id }} .blocks-section-block-{{ block.id }} {
	        flex-basis: {{ block.settings.width_mobile }}% !important;
	        max-width: {{ block.settings.width_mobile }}% !important;
	        width: {{ block.settings.width_mobile }}% !important;
	      }
	    {% endif %}
	  {% endfor %}
	}
</style>
