<section class="collection-page">
  <div class="collection-hero">
    <div class="container flex justify-between">
      <img class="left-img" src="{{ collection.metafields.hero.left_img | image_url }}" alt="{{ collection.metafields.hero.left_img.alt | escape }}" />

      <div class="titles flex flex-col">
        <h1 class="text-[24px]">{{ collection.title }}</h1>
        <div>{{ collection.metafields.hero.subtitle }}</div>
      </div>

      <img class="right-img" src="{{ collection.metafields.hero.right_img | image_url }}" alt="{{ collection.metafields.hero.right_img.alt | escape }}" />
    </div>
  </div>

  <div class="container flex gap-4">
    <div class="collections-menu side-menu">
      {% for collectionItem in section.settings.collection_list %}
        <div class="menu-item {% if collectionItem.handle == collection.handle %}active{% endif %}"><a href="{{ collectionItem.url }}">{{ collectionItem.title }}</a></div>
      {% endfor %}
    </div>

    {% render 'collection', collection_handle: collection.handle, isDescription: true, isNoTitle: false, isNoPrices: false, isLinkToCollection: false, isCentered: customer.b2b?, isNoBundles: false, isLastCollectionRender: isLastCollectionRender %}
  </div>
</section>

<style>
  .collection-hero {
    background-color: {{ collection.metafields.hero.background_color }};
    color: {{ collection.metafields.hero.text_color }};
  }
</style>

{% schema %}
  {
      "name": "Collection Page",
      "disabled_on": {
        "groups": [
          "header",
          "footer"
        ]
      },
      "settings": [
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collections"
        }
      ],
      "presets": [
      {
        "name": "Collection Page"
      }
    ]
  }
  {% endschema %}