{% unless section.settings.hide_on_affiliate_pages and request.path contains '-aff' %}
  <footer>
    <div class="top-info">
      <div class="container">
        <div class="info-wrap">
          <div class="main-side footer-column">
            <a href="/"><img class="logo invert" src="{{ 'logo-new.svg' | asset_url }}" alt="curalife logo" width="134" height="32" loading="lazy"></a>
            <div class="social-links flex gap-4 text-[24px] mt-4">
              {% for block in section.blocks %}
                {% if block.type == 'social' %}
                  <a href="{{ block.settings.social_link }}" target="_blank"><i class="{{ block.settings.social_icon_class }}"></i></a>
                {% endif %}
              {% endfor %}
            </div>
        </div>

          <div class="right-column footer-column">
            <div class="menu-list">
              {% for block in section.blocks %}
                {% if block.type == 'menu' %}
                  <div class="menu-wrapper">
                    <div class="h6">{{ block.settings.menu_title }}</div>
                    {% assign footer_linklist = block.settings.footer_linklist %}
                    {% if linklists[footer_linklist].links.size > 0 %}
                      <div class="menu">
                        {% for link in linklists[footer_linklist].links %}
                          <div class="item"><a href="{{ link.url }}"{% if link.url contains 'professionals' or link.url contains 'retail' %} rel="nofollow"{% endif %}>{{ link.title }}</a></div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="pre-bottom-text">{{ section.settings.disclaimer }}</div>
      </div>
    </div>

    <div class="bottom-info">
      <div class="container">
        <div class="info-wrap">
          <div class="text"><p class="copy-write">&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</p> </div>

          <div class="payment-methods">
            <div class="payments">
              {% for block in section.blocks %}
                {% if block.type == 'payment' %}
                  {% if block.settings.payment_img != blank %}
                    <div class="payment"><span><img src="{{ block.settings.payment_img | img_url: '' }}" width="51px" height="32px" alt=""></span></div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>

          <p class="rights-reserved">All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>


<style>
  footer {
    --footer-text-color: {{ section.settings.text_color }};
    --footer-titles-color: {{ section.settings.titles_color }};
  }
</style>


<style>
  footer {
    background: var(--primary);
    color: var(--footer-text-color);
  }

  footer .logo {
    max-width: 150px;
    margin: unset;
  }

  footer .top-info .info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
  }

  footer .bottom-info {
    padding: 10px 0;
    border-top: 1px solid rgba(239,239,239,.37);

    .info-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 10px;

      .text p {
        color: white !important;
      }
    }
  }

  footer .footer-column {
    padding-top: 20px;
  }

  footer .disclaimer {
    font-size: 0.7em;
  }

  .menu-list .menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  footer .payment-methods {
    .payments {
      display: flex;
      gap: 20px;

      &:nth-child(2) {
        display: none;
      }
    }
  }

  footer .right-column {
    min-width: 80%;

    .menu-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      padding-top: 0.7em;

      .menu-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      ul {
        font-weight: lighter;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 16px;
      }
    }
  }

  footer .h6 {
    color: var(--footer-titles-color);
    text-transform: uppercase;
    font-weight: bold;
  }

  .disclaimer-and-other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      font-family: 'PP Radio Grotesk';
      font-weight: lighter;
      text-decoration-line: underline;
      color: var(--footer-titles-color);
    }
  }

  .social-bar {
    ul {
      display: flex;
      gap: 20px;

      li {
        width: 50%;
        padding: 10px 0;

        a {
          color: inherit;
          transition: opacity var(--transition);
          font-size: 28px;
        }
      }
    }
  }

  .pre-bottom-text {
    margin-top: 1.2em;
    margin-bottom: 1.5em;

    p {
      font-size: 10px;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  @media screen and (max-width: 768px) {
    footer .footer-columns {
      font-size: 20px;
    }

    footer .top-info .info-wrap {
      padding-bottom: unset;
      display: unset;
    }

    .main-side .menu-list .menu {
      flex-wrap: nowrap;
      max-height: unset;
    }

    .right-column .menu-list {
      flex-direction: column;
      gap: 5vw;
    }

    .disclaimer-and-other {
      flex-direction: column;
      padding-bottom: 10px;
    }

    .social-bar .payments,
    .payment-methods .payments {
      gap: 2vw;
    }

    .pre-bottom-text {
      font-weight: 400;
      font-size: 3vw;
      line-height: 1.8em;
    }

    .copy-write,
    .rights-reserved {
      font-size: 2vw;
      margin-left: 2vw;
    }
  }
</style>
{% endunless %}

{% schema %}
{
  "name": "Footer",
  "class": "footer_section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "titles_color",
      "label": "Titles Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "logo_img",
      "label": "Logo image"
    },
    {
      "type": "header",
      "content": "Bottom Menu"
    },
    {
      "type": "text",
      "id": "bottom_menu_title",
      "label": "Bottom Menu Title"
    },
    {
      "type": "link_list",
      "id": "bottom_linklist",
      "label": "Bottom Menu"
    },
    {
      "type": "richtext",
      "id": "disclaimer",
      "label": "Disclaimer"
    },
    {
      "type": "checkbox",
      "id": "hide_on_affiliate_pages",
      "label": "Hide on affiliate pages"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "social",
      "name": "Social Media",
      "settings": [
        {
          "type": "text",
          "id": "social_icon_class",
          "label": "Social Icon Class"
        },
        {
          "id": "social_link",
          "type": "url",
          "label": "Social Icon Link"
        }
      ]
    },
    {
      "type": "payment",
      "name": "Payment Images",
      "settings": [
        {
          "type": "image_picker",
          "id": "payment_img",
          "label": "Select Payment Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}