
<section class="ingredients-section" id="powerful-ingredients">
  <div class="container no-padding">
  <h2>{{ section.settings.main_title }}</h2>
  <div class="ingredients-sliders">
    <div class="ingredients-thumbs-slider swiper">
    <div class="ingredients swiper-wrapper">
     {% assign image_small = section.blocks | where: 'type', 'category_image' %}
     {% for block in image_small %}
      <div class="ingredient swiper-slide">
      <img src="{{ block.settings.small_image | img_url }}" width="316" height="296" alt="" loading="lazy">
      </div>
      {% endfor %}
    </div>
    </div>

    <div class="ingredients-main-slider swiper">
    <div class="swiper-button-prev swiper-nav"></div>
    <div class="ingredients swiper-wrapper">
     {% assign image_big = section.blocks | where: 'type', 'category_image2' %}
        {% for block in image_big %}
      <div class="swiper-slide">
        <div class="ingredient">
          <img src="{{ block.settings.big_image | img_url }}" width="316" height="296" alt="" loading="lazy">
          <div class="ingredient-content">
            <p class="ingredient-title">{{ block.settings.category_title }}</p>
            <p class="ingredient-description">{{ block.settings.category_description }}</p>
          </div>
          </div>
          </div>
        {% endfor %}
     </div>
            <div class="swiper-button-next swiper-nav"></div>
            </div>

  </div>
  </div>
</section>

<style>
  .ingredients-section {
    background-color: {{ bgColor }}
  }

    .ingredients-section h2 {
        font-weight: 400;
    }

   .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient {
    cursor: pointer;
    opacity: .7
  }

   .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient.swiper-slide-thumb-active {
    opacity: 1
  }

   .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient img {
    width: 120px
  }

   .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient {
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: auto
  }

   .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient img {
    margin-left: -10%
  }

   .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: 50px
  }

   .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    font-size: 40px;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase
  }

   .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
    font-size: 20px;
    font-weight: 300;
    line-height: 2rem
  }

  @media screen and (max-width: 768px) {
  .ingredients-section {
    background-color: unset
  }

  .ingredients-section h2 {
    padding-bottom: unset;
    font-size: 6vw;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider {
    padding: 0
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient {
    flex-direction: column;
    max-width: 80%
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient img {
    width: 50vw;
    margin-left: auto;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: unset
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    margin: 0;
    font-weight: 600
  }

   .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
    margin: 10px 0
  }

   .ingredients-section .ingredients-sliders .ingredients-main-slider .swiper-nav {
    top: 100px
  }

  }
</style>

<style>
.ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient {
  cursor: pointer;
  opacity: .7;
}

.ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient.swiper-slide-thumb-active {
  opacity: 1;
}

.ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient img {
  width: 120px;
}

.ingredients-section .swiper-button-prev.disabled, .ingredients-section .swiper-button-next.disabled {
  opacity: 0;
}

.ingredients-section .swiper-button-prev, .ingredients-section .swiper-button-next {
  color: grey;
  transition: opacity .5s;
}

.ingredients-section .swiper-button-prev::after, .ingredients-section .swiper-button-next::after {
  font-size: 28px;
}

.ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient {
  display: flex;
  align-items: center;
  max-width: 70%;
  margin: auto;
}

.ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient img {
  margin-left: -10%;
}

.ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content {
  margin-left: 50px;
}

.ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
  font-size: 40px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
}

.ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
  font-size: 20px;
  font-weight: 300;
  line-height: 2rem;
}

@media screen and (max-width: 768px) {
  .ingredients-section .ingredients-sliders .ingredients-main-slider {
    padding: 0;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .swiper-nav {
    top: 100px;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient {
    flex-direction: column;
    max-width: 80%;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: unset;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    margin: 0;
    font-weight: 600;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
    margin: 10px 0;
  }
}
</style>


<style>
    .swiper-button-prev,
  .swiper-button-next {
       color: grey;
       transition: opacity .5s
   }

     .ingredient-title {
         font-size: clamp(28px, 1vw, 40px);
         line-height: 2.0rem !important;
     }
 </style>

<script>
  ingredientsThumbsSliderAllInOne = new Swiper('.ingredients-section .ingredients-thumbs-slider.swiper', {
    slidesPerView: 5,
    spaceBetween: 10,
    loop: false,
    breakpoints: {
      760: {
        slidesPerView: 7,
        centeredSlides: false,
      },
      1200: {
        slidesPerView: 9,
        centeredSlides: false,
      }
    }
  });

  ingredientsMainSliderAllInOne = new Swiper('.ingredients-section .ingredients-main-slider.swiper', {
    slidesPerView: 1,
    spaceBetween: 15,
    watchSlidesVisibility: false,
    loop: false,
    slideToClickedSlide: true,
    navigation: {
      nextEl: '.ingredients-section .swiper-button-next',
      prevEl: '.ingredients-section .swiper-button-prev',
      disabledClass: 'disabled'
    },
    thumbs: {swiper: ingredientsThumbsSliderAllInOne}
  });
</script>


{% schema %}
{
  "name": "Ingredients Section",
  "tag": "section",
  "class": "all-ingredients-section no-padding",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },

    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title"
    }
  ],
 "blocks":[
    {
       "name":"Category Image",
       "type":"category_image",
       "settings":[
          {
             "type":"image_picker",
             "id":"small_image",
             "label":"Image 1"
          }
       ]
    },
    {
       "name":"Category Image 2",
       "type":"category_image2",
       "settings":[
          {
             "type":"image_picker",
             "id":"big_image",
             "label":"Image 2"
          },
          {
             "type":"text",
             "id":"category_title",
             "label":"Category Title"
          },
          {
             "type":"text",
             "id":"category_description",
             "label":"Category Description"
          }
       ]
    }
 ],
  "presets": [
    {
      "name": "Ingredients Section"
    }
  ]
}
{% endschema %}