<section class="meet-curalin" id="meet-curalin">
  <div class="tip-picture">  
     <div class="container">
      <img class="tip-bg-img" src="{{ 'tiphub-curalin-tips.png' | asset_url }}"  alt="">  
      <div class="day-tips">
          <div class="image-day">
              <img src="{{ 'onboarding-tiphub-icon-glass.png' | file_url }}" width="114" height="104" alt="">
          </div>
          <div class="text-day">
              <div class="day-title-tip">Curalin Tips</div>
              <div class="day-tip-text">It’s on Curalin works 2-4X better than a placebo.</div>
          </div>

      </div>
     </div> 
  </div>

  <div class="container">
    <div class="brandmark-info">
    <div class="curaline-brandmark">
      <img src="{{ section.settings.image_brandmark | img_url: 'master'  }}" width="339" height="448" alt="">
    </div>
    <div class="curalin-intro">
      {% for block in section.blocks %}
      <div class="curaline-widget-item">
        <div class="curaline-widget-icon">
          <img src="{{ block.settings.image_prove | img_url: 'master' }}" width="64" height="64"  alt="" loading="lazy">
        </div>
        <div class="curaline-widget-text">
          <h4>{{ block.settings.title_prove }}</h4>
          <p>{{ block.settings.description_prove }}</p>
        </div>
      </div>
    {% endfor %}
     
    </div>
    </div>
  </div>
</section>

<style>
   .day-template .container .day-title{
       padding: 20px 0;
       font-family: 'PP Radio Grotesk';
       font-weight: 700;
       font-size: 48px;
       line-height: 58px;
       letter-spacing: -0.03em;
       color: #5E8F8F;
       text-align: left;
   }


       .tip-picture {
           position: absolute;
           background: #FFE17D;
           top: 160px;
       }
       .tip-bg-img {
       position: absolute;
       top: -50px;
       right: 0;
   }

   .image-day {
       display: flex;
       align-items: center;
       max-width: 15%;
   }

   .text-day {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
   }

   .day-tips {
       padding: 5px 0 10px;
       display: flex;
       justify-content: center;
       gap: 30px;
   }

   .image-day {
       max-width: 15%;
   }

   .day-title-tip {
       font-family: 'PP Radio Grotesk';
       font-weight: 700;
       font-size: 48px;
       line-height: 53px;
       text-align: center;
       color: #424733;      
   }

   .day-tip-text {
       font-family: 'Open Sans';
       font-weight: 400;
       font-size: 30px;
       line-height: 50px;
   }

   .related-tip {
       padding: 5% 0;
       display: flex;
       justify-content: center;
       gap: 50px;
       align-items: flex-end;
   }

   .related-article {
       display: flex;
       flex-direction: column;
       max-width: 50%;
   }

   .related-picture {
       max-width: 50%;
   }
   .related-title {
       font-family: 'PP Radio Grotesk';
       font-weight: 700;
       font-size: 35px;
       line-height: 44px;
   }

   .border-day {
       padding-top: 10px;
       max-width: 40%;
       border-bottom: 1px solid #424733;
   }

   .related-text {
       padding-top: 10px;
       font-family: 'DM Sans';
       font-weight: 400;
       font-size: 24px;
       line-height: 36px;
   }

   .blog-title {
       padding: 20px 0;
       font-family: 'PP Radio Grotesk';
       font-weight: 700;
       font-size: 34px;
       line-height: 44px;
   }

   .article-from-blog {
       position: relative;
   }

   .swoosh-article {
       max-width: 100px;
       position: absolute;
       right: -75px;
       top: 7px
   }



   .article-title {
       padding: 20px 0;
       font-family: 'Open Sans';
       font-weight: 700;
       font-size: 24px;   

   }

  

   @media screen and (max-width: 768px) {
       .day-template .container .day-title {
           font-size: 7vw;
           line-height: 7vw;
       }

       .day-title-tip {
           font-size: 4vw;
           line-height: 4vw;
       }

       .day-tips {
           padding: 3vw 6vw;
           gap: 20px;
       }

       .day-tip-text {
           font-size: 4vw;
           line-height: 4vw;
       }

       .tip-bg-img {
           width: 15vw;
           top: -7vw;
           right: 2vw;
       }


   }



   

 
</style>

<style>
  .meet-curalin {
    position: relative;
  }

  .brandmark-info {
    display: flex;
    justify-content: flex-end;
  }


  .curalin-intro {
     padding-top: 70px; 
     position: relative;
     display: flex;
     flex-direction: column;
     gap: 25px;
  }


  .curalin-intro .curaline-widget-item {
    display: flex;
    position: relative;
    gap: 10px;
    z-index: 1
  }

  .curalin-intro .curaline-widget-item .curaline-widget-icon {
    display: flex;
    align-items: center;
  }
.curaline-brandmark {
    position: relative;
  }


  .curaline-widget-text h4 {
    margin: 0;
    font-weight: 700;
    color: {{ section.settings.txt_clr }};
  }

  .curaline-widget-text p {
    margin: 0;
    font-weight: 300;
    color: {{ section.settings.txt_clr }};
  }

  .curaline-widget-icon {
    max-width: 4rem;
    width: 100%
  }

    @media screen and (max-width: 768px) {

     .brandmark-info {
      flex-direction: column;
      justify-content: center;

     }

     .curalin-intro {
      padding-top: unset;
     }

      .meet-curalin h3 {
        
      }

      .meet-curalin p {
        
      }

      .curalin-intro .curaline-widget-item {
        align-items: center
      }

    }
 
</style>





{% schema %}
    {

    "name": "Meet Curalin",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
     
      {
        "type": "image_picker",
        "id": "image_brandmark",
        "label": "Image Brandmark"
      },
      {
        "type": "color",
        "id": "txt_clr",
        "label": "Text Color",
        "default": "#404733"

      }
    ],
    "blocks": [
      {
        "type": "proves",
        "name": "Prove",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_prove",
            "label": "Image Prove"
          },
        
          {
            "type": "text",
            "id": "title_prove",
            "label": "Title Prove"
          },
          {
            "type": "text",
            "id": "description_prove",
            "label": "Description Prove"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Meet Curalin"
      }
    ]
        
    }
{% endschema %}