
  <div class="suppliments">
     <div class="container" >
        <div class="suppliment-tech-wrapper">
      <div class="button-container">
          <button id="button1" class="active" onclick="showScreen('screen1')"><span class="supl">Supplement</span></button>
          <button id="button2" onclick="showScreen('screen2')"><span class="tech">Tech</span></button>
      </div>

      <div id="screen1" class="screen">
        <div class="tabbed-content tabs-side">
            <nav class="tabs">
              <ul>
                <li><a href="#highlights-{{ index }}" class="active">Product Highlights <i>></i></a></li>
                <li><a href="#instructions-{{ index }}">Usage Instructions <i>></i></a></li>
                {% if product.metafields.custom.ingredients.value %}
                  <li><a href="#ingredients-{{ index }}">Ingredients <i>></i></a></li>
                {% endif %}
                <li><a href="#facts-{{ index }}">Supplement Facts <i>></i></a></li>
                <li><a href="#reviews">Reviews <i>></i></a></li>
              </ul>
            </nav>

            <div class="content">
              <div id="highlights-{{ index }}" class="item active always-active" data-title="Product Highlights">
                <div class="highlights item-content">
                  {% for highlight in product.metafields.custom.product-highlights.value %}
                    <div class="highlight">
                      <div class="highlight-icon"><i class="icofont-check"></i></div>
                      <p><b>{{ highlight.title }}</b><br>{{ highlight.subtitle }}</p>
                    </div>
                  {% endfor %}
                </div>
              </div>

              <div id="instructions-{{ index }}" class="item" data-title="Usage Instructions">
                <div class="instructions item-content">
                  {% for step in product.metafields.custom.instructions.value %}
                    <div class="step">
                      <h3>{{ step.title }}</h3>

                      <div class="capsules">
                        {% for item in (1..step.capsules) %}
                          {% if product.tags contains "gummies" %}
                            <img class="gummies" src="{{ "onboarding-gummy.png" | asset_url }}" width="20" height="31" alt="Capsule Pill" loading="lazy">
                          {% else %}
                            <img class="caps" src="{{ "onboarding-capsule.png" | asset_url }}" width="20" height="31" alt="Capsule Pill" loading="lazy" style="min-width: 35px">
                          {% endif %}
                        {% endfor %}
                      </div>
                      <p>{{ step.subtitle }} <br> {{ step.text }} <br> {{ step.text_2 }}</p>

                    </div>
                  {% endfor %}
                </div>
              </div>

              {% if product.metafields.custom.ingredients.value %}
                <div id="ingredients-{{ index }}" class="item" data-title="Ingredients">
                  <div class="ingredients item-content">
                    {% for ingredient in product.metafields.custom.ingredients.value %}
                      <div class="ingredient">
                        {% assign ingredient_handle = ingredient | downcase | replace: ' ', '-' %}
                        <img src="{{ "product-supplement-pack-info-ingredient-icon-" | append: ingredient_handle | append: ".png" | asset_url }}" alt="Ingredient" loading="lazy">
                        <p>{{ ingredient }}</p>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}

              <div id="facts-{{ index }}" class="item" data-title="Supplement Facts">
                <div class="facts item-content">
                    <img src="{{ product.metafields.custom.supplement_fact | img_url: 'original' }}" alt="Supplement Facts" loading="lazy">
                </div>
              </div>

              <div id="reviews-{{ index }}" class="item" data-title="Reviews">
                <div class="reviews item-content">
                  {% render 'product-supplement-pack-info-reviews', reviews: reviews %}
                </div>
              </div>
            </div>
          </div>
      </div>

      <div id="screen2" class="screen" style="display:none">
          <h1>Tech</h1>
      </div>
      </div>
     </div>
  </div>


  
<style>
    .container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    }
    .suppliment-tech-wrapper {
        margin: 50px auto;
        background: #FFFFFF;
        border: 1px solid #E8E8B0;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        max-width: 510px;
        margin: 20px auto;
    }

    .button-container button {
        position: relative;
        width: 100%;
        padding: 2px 40px;
        background: #FFFFFF;
        border: 1px solid #404733;
        border-radius: 80px;  
        cursor: pointer;
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 30px;
        line-height: 69px;
        letter-spacing: -0.01em;
        color: #404733;
        text-align: right;
    }


    .button-container button.active {
        display: flex;
        justify-content: center;
        text-align: center;
        max-width: 20%;
        position: absolute;
        z-index: 1;
        background-color: #404733;
        color: #FFFFFF;

    }

    .tech {
        position: relative;
        left: -66px;
    }

    .button-container button.active .tech {
        position: unset;
    }

    .supl {
        
    }

    @media screen and ( max-width: 900px ) {
       .button-container button.active {
        min-width: 27vw;
       }
    }

   

    @media screen and ( max-width: 768px ) {
        .suppliment-tech-wrapper {
            margin: 2vw 0;
            box-shadow: unset;
            border-radius: 10px;
        }

        .button-container button {
            font-size: 3vw;
            line-height: 4vw;
            padding: 1vw 4vw;
        }

        .button-container button.active {
            max-width: 37vw;
        }
    }


    @media screen and (max-width: 740px) {
        .supl {
            position: relative;
            left: -2vw;
        }

        .button-container button.active .supl {
            position: unset;
        }

    }

    @media screen and (max-width: 700px) {
        .supl {
            position: relative;
            left: -4vw;
        }


    }


    @media screen and (max-width: 670px) {
        .supl {
            position: relative;
            left: -6vw;
        }

    }

    @media screen and (max-width: 630px) {
        .supl {
            position: relative;
            left: -8vw;
        }

    }

    @media screen and (max-width: 590px) {
        .supl {
            position: relative;
            left: -10vw;
        }

        .tech {
            position: relative;
            left: -15vw;
        }

    }


</style>
  

{% schema %}
{
    "name": "Suppliments",
    "tag": "section",
    "class": "suppliments",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
   
     "blocks": [
        {
          "type": "slides",
          "name": "Slides",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "title",
                  "label": "Title"
              },

              {
                  "type": "richtext",
                  "id": "content",
                  "label": "Content"
              }

          ]
        }
      ],
    "presets": [{
        "name": "Suppliments"
    }]
}
{% endschema %}


<script>
   function showScreen(screenId) {
       var screens = document.getElementsByClassName("screen");
       for (var i = 0; i < screens.length; i++) {
           screens[i].style.display = "none";
       }
       document.getElementById(screenId).style.display = "flex";

       var buttons = document.getElementsByTagName("button");
       for (var i = 0; i < buttons.length; i++) {
           if (buttons[i].id == "button1" && screenId == "screen1") {
               buttons[i].classList.add("active");
           } else if (buttons[i].id == "button2" && screenId == "screen2") {
               buttons[i].classList.add("active");
           } else {
               buttons[i].classList.remove("active");
           }
       }
   }
    
</script>






 