{% layout none %}
<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <title>{{ 'gift_cards.issued.title' | t }}</title>
    <link rel="stylesheet" href="{{ 'gift-card.css' | asset_url }}">
  </head>
  <body>
    <div class="gift-card">
      <h1>{{ shop.name }}</h1>
      <h2>{{ 'gift_cards.issued.subtext' | t }}</h2>
      <div class="gift-card__amount">{{ gift_card.initial_value | money }}</div>
      <div class="gift-card__number">{{ gift_card.code }}</div>
      <div class="gift-card__balance">{{ gift_card.balance | money }}</div>
      {% if gift_card.expired %}
        <p>{{ 'gift_cards.issued.expired' | t }}</p>
      {% endif %}
      <img src="{{ gift_card | img_url: 'medium' }}" alt="Gift Card">
    </div>
  </body>
</html>